<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">

	<persistence-unit name="ar.edu.ucc.arqSoft.taskManagement" transaction-type="RESOURCE_LOCAL">

		<description>
            Persistence unit for local mysql.
        </description>
		<provider>org.hibernate.ejb.HibernatePersistence</provider>

		<!-- En este Bloque se agregan las clases del modelo que mapeamos -->
		<class>ar.edu.ucc.arqSoft.taskManagement.model.User</class>
		<class>ar.edu.ucc.arqSoft.taskManagement.model.Comment</class>
		<class>ar.edu.ucc.arqSoft.taskManagement.model.State</class>
		<class>ar.edu.ucc.arqSoft.taskManagement.model.Project</class>
		<class>ar.edu.ucc.arqSoft.taskManagement.model.Task</class>

		<properties>

			<property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver" />

			<!--- CONFIGURACION BASE DA DATOS, USER Y PWD -->
			<property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/taskManagement" />
			<property name="javax.persistence.jdbc.user" value="ucc" />
			<property name="javax.persistence.jdbc.password" value="fava248332" />
			<!---  -->

			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="false" />
			<property name="hibernate.hbm2ddl.auto" value="create" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.MySQL8Dialect" />
			<property name="javax.persistence.schema-generation.database.action" value="drop-and-create" />

		</properties>

	</persistence-unit>
</persistence>